/* ===================== GLOBAL ===================== */

body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

h1 {
    text-transform: uppercase;
}

button {
    text-transform: uppercase;
}


/* ===================== OPENING SCREEN ===================== */

#opening-screen {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

#opening-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;
    animation: slowZoom 8s ease-in-out infinite alternate;
}

/* CUT1 */
#first-verb {
    text-transform: uppercase;
}

#opening-text {
    position: absolute;
    bottom: 12vh;
    left: 8vw;
    max-width: 550px;
    color: #fff;
    text-transform: unset;

    text-shadow: 0 0 10px #000;
}

#skip-opening-btn {
    position: absolute;
    right: 8vw;
    bottom: 8vh;

    padding: 12px 32px;
    
    background: transparent;
    color: rgba(255, 255, 255, 0.45);

    border: 1px solid rgba(0, 255, 255, 0.35);
    border-radius: 999px;

    cursor: pointer;
    letter-spacing: 2px;

    box-shadow: none;

    transition:
        color 0.4s ease,
        background-color 0.4s ease,
        border-color 0.4s ease,
        box-shadow 0.4s ease,
        transform 0.4s ease;
}

#skip-opening-btn:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.12);

    border-color: cyan;

    box-shadow: 
    0 0 10px cyan,
    0 0 25px rgba(0, 255, 255, 0.8);
}

@keyframes slowZoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

/* CUT2 */
.highlight-word {
    color: cyan;
    font-size: 2rem;
    letter-spacing: 4px;

    text-shadow: 
    0 0 10px cyan,
    0 0 25px cyan;
}

#highlight-yosea {
    text-transform: uppercase;
}

#opening-image {
    animation: slowZoom 12s ease-in-out infinite alternate;
}

#opening-text {
    animation: fadeText 2s ease;
}

@keyframes fadeText {
    from {
        opacity: 0s;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* CUT #3 */
#highlight-honran {
    text-transform: uppercase;
}

/* CUT #4 */
#highlight-suho {
    text-transform: uppercase;
}

/* CUT #6 white fade */
#white-fade {
    position: fixed;
    inset: 0;

    background: #fff;

    opacity: 0;
    pointer-events: none;

    z-index: 9999;
}

.fade-active {
    animation: whiteFade 2s forwards;
}

@keyframes whiteFade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* ================== INTRO SCREEN ================== */

/* INTRO SCREEN BACKGROUND */
#intro-screen {
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65)), url('./assets/images/intro-bg.png');

    background-size: cover;
    background-position: center;
    
    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#intro-screen h1 {
    font-size: 4rem;
    letter-spacing: 4px;
}

.intro-desc {
    opacity: 0.7;
}

/* START BUTTON STYLING */
#start-btn {
    margin-top: 30px;
    padding: 14px 40px;

    background: transparent;
    color: rgba(255, 255, 255, 0.7);

    border: 1px solid rgba(0, 255, 255, 0.35);
    border-radius: 999px;

    letter-spacing: 3px;

    cursor: pointer;

    transition: 0.4s ease;
}

#start-btn:hover {
    color: #fff;

    border-color: cyan;

    background-color: rgba(255, 255, 255, 0.08);

    box-shadow: 0 0 10px cyan, 0 0 30px cyan;

    transform: scale(1.05);
}

/* GAME LOGO HOME SCREEN */
#game-logo {
    width: 32vw;
    max-width: 520px;

    filter: drop-shadow(0 0 15px cyan);

    animation: logoFloat 4s ease-in-out infinite alternate;
}

@keyframes logoFloat {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}


/* ================== GAME BOARD ==================== */

#game-board {
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom, #061022, #0b1633);

    position: relative;
    overflow: hidden;
    display: none;
}

span {
    color: #fff;
    text-transform: capitalize;
}

.star {
    width: 2px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
}

/* HUD STYLING */
#stat-hud {
    position: absolute;
    top: 20px;
    left: 20px;

    display: flex;
    gap: 30px;

    padding: 10px 18px;

    background: rgba(0, 10, 20, 0.35);
    border: 1px solid rgba(0, 255, 255, 0.25);
    border-radius: 12px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.15);

    font-size: 0.9rem;
    letter-spacing: 2px;

    color: cyan;

    opacity: 0.82;
}

/* LIFEBAR STYLING */
.life-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.life-bar {
    width: 120px;
    height: 10px;

    border: 1px solid rgba(0, 255, 255, 0.5);
    border-radius: 999px;

    background: rgba(255, 255, 255, 0.08);
    overflow: hidden;
}

#life-fill {
    width: 100%;
    height: 100%;

    background: linear-gradient(to right, cyan, #fff);
    box-shadow: 0 0 10px cyan;

    transition: width 0.3s ease;
}


/* ===================== PLAYER ===================== */

#player {
    width: 12vw;
    height: 14vh;

    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translate(-50%) rotate(-270deg);

    background-image: url('./assets/images/player.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* glow */
    filter: drop-shadow(0 0 14px cyan) brightness(1.6);
}

/* Enemy Styling */
.enemy {
    width: 8vw;
    height: 10vh;
    position: absolute;

    background-image: url('./assets/images/enemy.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* Brightness for enemy */
    filter: brightness(1.4);
}

/* Styling bullet */
.bullet {
    width: 0.6vw;
    height: 8vh;

    background: linear-gradient(to top, cyan, #fff);
    box-shadow: 0 0 10px cyan, 0 0 20px cyan;

    border-radius: 999px;
    position: absolute;
}

/* Hitting effect */
.hit-effect {
    width: 3vw;
    height: 3vh;

    background: #fff;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff, 0 0 20px cyan;
    transform-origin: center; /* centralizing */
    animation: hitFlash 0.2s forwards;
}

/* Animation for hit-effect from small exploision to big explosion fading-out */
@keyframes hitFlash {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.5);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.5);
    }
}

/* ================ GAME OVER SCREEN ================ */

#game-over-screen {
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.8)), url('./assets/images/gameover-bg.png');
    background-size: cover;
    background-position: center;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

#game-over-screen h1 {
    font-size: 5rem;
    letter-spacing: 8px;

    color: #ff3b3b;
    text-shadow: 0 0 10px #ff0000, 0 0 30px rgba(255, 0, 0, 0.8);
}

/* RETRY BUTTON STYLING */
#restart-btn {
    margin-top: 30px;
    padding: 14px 40px;

    background: transparent;
    color: rgba(255, 255, 255, 0.7);

    border: 1px solid #ff0000;
    border-radius: 999px;

    letter-spacing: 3px;

    cursor: pointer;

    transition: 0.4s ease;
}

#restart-btn:hover {
    color: #fff;

    border-color: #ff0000;

    background-color: rgba(255, 255, 255, 0.08);

    box-shadow: 0 0 10px #ff0000, 0 0 30px #ff3b3b;

    transform: scale(1.05);
}